// Remember to generate those palettes
// according to the same primary and secondary colors of tailwind.config.js
// You can generate it on http://mcg.mbitson.com/
// Choice they wisely on https://material.io/resources/color

// Primary #2EC4B6
$primary-palette: (
  50: #e6f8f6,
  100: #c0ede9,
  200: #97e2db,
  300: #6dd6cc,
  400: #4dcdc1,
  500: #2ec4b6,
  600: #29beaf,
  700: #23b6a6,
  800: #1daf9e,
  900: #12a28e,
  A100: #d3fff8,
  A200: #a0fff1,
  A400: #6dffe9,
  A700: #53ffe6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Secondary #2E88C4
$secondary-palette: (
  50: #f6e6f8,
  100: #e9c0ed,
  200: #db97e2,
  300: #cc6dd6,
  400: #c14dcd,
  500: #b62ec4,
  600: #af29be,
  700: #a623b6,
  800: #9e1daf,
  900: #8e12a2,
  A100: #f8d3ff,
  A200: #f1a0ff,
  A400: #e96dff,
  A700: #e653ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
