@use "sass:map";

// Warning!
// Use same colors of tailwind.config.js

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.core();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Change here if you want custom font

$custom-typography: mat.define-typography-config(
  $font-family: $font-family,
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette($primary-palette);
$secondary: mat.define-palette($secondary-palette);

// The "warn" palette is optional and defaults to #f00 if not specified.
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $secondary,
      warn: $warn,
    ),
    typography: $custom-typography,
    density: 0,
  )
);

// TODO HERE
//https://github.com/angular/components/issues/6244
$material-theme-overrides: (
  "color": (
    "background": (
      "status-bar": #f00,
      "app-bar": #f00,
      "background": #f00,
      "hover": rgba(#f00, 0.3),
      "card": #f00,
      "dialog": #f00,
      "disabled-button": rgba(#f00, 0.3),
      "raised-button": #f00,
      "focused-button": #f00,
      "selected-button": #f00,
      "selected-disabled-button": #f00,
      "disabled-button-toggle": #f00,
      "unselected-chip": #f00,
      "disabled-list-option": rgba(#f00, 0.3),
      "tooltip": #f00,
    ),
    "foreground": (
      base: #fff,
      divider: #f00,
      dividers: #f00,
      disabled: #f00,
      disabled-button: rgba(white, 0.26),
      disabled-text: #f00,
      elevation: white,
      hint-text: #f00,
      secondary-text: #f00,
      icon: rgba(white, 0.54),
      icons: rgba(white, 0.54),
      text: rgba(white, 0.87),
      slider-min: rgba(white, 0.87),
      slider-off: rgba(white, 0.26),
      slider-off-active: rgba(white, 0.38),
    ),
  ),
);

$theme: map.deep-merge($theme, $material-theme-overrides);
@debug $theme;
// Emit styles for core-theme and all 35+ components in Angular Material.
// Unless your application uses every single component, this will produce unnecessary CSS.
@include mat.all-component-themes($theme);

// Warning!
// Alternatively, you can import and @include the theme mixins for each component

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($my-theme);

// Include the theme mixins for other components you use here.
